In [1]:
# Import
import pandas as pd

In [3]:
# Load data
df_customers = pd.read_csv("Olist/olist_customers_dataset.csv")
df_geo = pd.read_csv("Olist/olist_geolocation_dataset.csv")
df_items = pd.read_csv("Olist/olist_order_items_dataset.csv")
df_payments = pd.read_csv("Olist/olist_order_payments_dataset.csv")
df_reviews = pd.read_csv("Olist/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("Olist/olist_orders_dataset.csv")
df_products = pd.read_csv("Olist/olist_products_dataset.csv")
df_sellers = pd.read_csv("Olist/olist_sellers_dataset.csv")
df_cat = pd.read_csv("Olist/product_category_name_translation.csv")

In [4]:
# Explore data

def basic_information(name):
    print("\n\n Number of  duplicate value ",name.duplicated().sum())
    print("\n\n Missing values\n",name.isnull().sum())
    print("\n\n Column information ")
    name.info()
    print("----------------------------------------------------")

# df_customers

In [5]:
#check
basic_information(df_customers)

 Number of  duplicate value  0


 Missing values
 customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
----------------------------------------------------

In [6]:
df_customers.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [7]:
#fix datatype
df_customers['customer_zip_code_prefix'] = df_customers['customer_zip_code_prefix'].astype(str)

# df_orders

In [8]:
# check
basic_information(df_orders)

 Number of  duplicate value  0


 Missing values
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
----------------------------------------------------

In [9]:
df_orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [10]:
# fix datatype
def to_dt(s):
    return pd.to_datetime(s, errors='coerce')

df_orders['order_purchase_timestamp']=to_dt(df_orders['order_purchase_timestamp'])
df_orders['order_approved_at']=to_dt(df_orders['order_approved_at'])
df_orders['order_delivered_carrier_date']=to_dt(df_orders['order_delivered_carrier_date'])
df_orders['order_delivered_customer_date']=to_dt(df_orders['order_delivered_customer_date'])
df_orders['order_estimated_delivery_date']=to_dt(df_orders['order_estimated_delivery_date'])

In [11]:
# new columns
df_orders['order_approved_flag']= df_orders['order_approved_at'].notna()
df_orders['order_shipped_flag']= df_orders['order_delivered_carrier_date'].notna()
df_orders['order_delivered_flag']= df_orders['order_delivered_customer_date'].notna()

In [12]:
df_orders[['order_status','order_approved_flag','order_shipped_flag','order_delivered_flag']].head()

  order_status  order_approved_flag  order_shipped_flag  order_delivered_flag
0    delivered                 True                True                  True
1    delivered                 True                True                  True
2    delivered                 True                True                  True
3    delivered                 True                True                  True
4    delivered                 True                True                  True

In [13]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   order_approved_flag            99441 non-null  bool
 9   order_shipped_flag             99441 non-null  bool
 10  order_delivered_flag           99441 non-null  bool
dtypes: bool(3), datetime64[ns](5), object(3)
memory usage: 6.4+ MB

# df_payments

In [14]:
#check
basic_information(df_payments)

 Number of  duplicate value  0


 Missing values
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
----------------------------------------------------

In [15]:
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [16]:
# more then one payments
df_payments['order_id'].value_counts().head()

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
Name: count, dtype: int64

In [17]:
# number of orders with more then one payment 
df_payments['order_id'].value_counts().gt(1).sum()

np.int64(2961)

In [18]:
# create aggregated payment table

df_payments_clean=(df_payments.groupby('order_id').agg({'payment_value':'sum',
                                                        'payment_installments':'max',
                                                        'payment_type':lambda x : ','.join(sorted(set(x)))}).reset_index().rename(columns={
                                                            'payment_value':'total_payment_value',
                                                            'payment_installments':'max_installments',
                                                            'payment_type':'payment_types'})
                                                            )

In [19]:
df_payments_clean['payment_types'].value_counts()

payment_types
credit_card               74259
boleto                    19784
credit_card,voucher        2245
voucher                    1621
debit_card                 1527
not_defined                   3
credit_card,debit_card        1
Name: count, dtype: int64

In [20]:
# validation check 
# one row per order
df_payments_clean.shape

(99440, 4)

In [21]:
# unique order id
df_payments_clean['order_id'].duplicated().sum()

np.int64(0)

In [22]:
#sanity check-total payment for an example order 
exm=df_payments[df_payments['order_id'] == df_payments['order_id'].value_counts().idxmax()]

In [23]:
len(exm)

29

In [24]:
len(df_payments_clean[df_payments_clean['order_id'] == exm.iloc[0]['order_id']])

1

In [25]:
#aggregation check
raw_sum=exm['payment_value'].sum()
clean_sum=df_payments_clean[df_payments_clean['order_id'] == exm.iloc[0]['order_id']]['total_payment_value'].iloc[0]
raw_sum , clean_sum

(np.float64(457.99), np.float64(457.99))

# df_items

In [26]:
#check
basic_information(df_items)

 Number of  duplicate value  0


 Missing values
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
----------------------------------------------------

In [27]:
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [28]:
df_items['shipping_limit_date']=pd.to_datetime(df_items['shipping_limit_date'])

In [29]:
df_items['total_item_value']= df_items['price'] + df_items['freight_value']

In [30]:
order_items_summary = df_items.groupby('order_id').agg({'price':'sum',
                                                        'freight_value':'sum',
                                                        'total_item_value':'sum'}).reset_index().rename(columns={'price':'item_revenue',
                                                                                                        'freight_value':'logistics_cost',
                                                                                                        'total_item_value':'total_item_value'})

In [31]:
order_items_summary.head()

,order_id,item_revenue,logistics_cost,total_item_value
0,00010242fe8c5a6d1ba2dd792cb16214,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,199.90,18.14,218.04

In [32]:
order_items_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          98666 non-null  object
 1   item_revenue      98666 non-null  float64
 2   logistics_cost    98666 non-null  float64
 3   total_item_value  98666 non-null  float64
dtypes: float64(3), object(1)
memory usage: 3.0+ MB

# df_products

In [33]:
basic_information(df_products)

 Number of  duplicate value  0


 Missing values
 product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
----------------------------------------------------

In [34]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [35]:
df_cat.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [36]:
# replace the missing category
df_products['product_category_name']=df_products['product_category_name'].fillna("unknown_category")

In [37]:
# marge
df_products=df_products.merge(df_cat,on='product_category_name',how='left')

In [38]:
# fill numeric missing value with median
for i  in  (df_products.select_dtypes(include='number').columns):
    median_value=df_products[i].median()
    df_products[i]=df_products[i].fillna(median_value)
    print("Fill numeric holes with median for ",i)

Fill numeric holes with median for  product_name_lenght
Fill numeric holes with median for  product_description_lenght
Fill numeric holes with median for  product_photos_qty
Fill numeric holes with median for  product_weight_g
Fill numeric holes with median for  product_length_cm
Fill numeric holes with median for  product_height_cm
Fill numeric holes with median for  product_width_cm

In [39]:
# fill categorical missing value
df_products['product_category_name_english']=df_products['product_category_name_english'].fillna(df_products['product_category_name'])

In [40]:
# set lowercase
df_products['product_category_name_english']=df_products['product_category_name_english'].str.lower()

In [41]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32951 non-null  object
 2   product_name_lenght            32951 non-null  float64
 3   product_description_lenght     32951 non-null  float64
 4   product_photos_qty             32951 non-null  float64
 5   product_weight_g               32951 non-null  float64
 6   product_length_cm              32951 non-null  float64
 7   product_height_cm              32951 non-null  float64
 8   product_width_cm               32951 non-null  float64
 9   product_category_name_english  32951 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.5+ MB

In [42]:
#marge product to items

df_items=df_items.merge(df_products[['product_id', 'product_category_name_english']],on='product_id',how='inner')

In [43]:
df_items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'total_item_value',
       'product_category_name_english'],
      dtype='object')

# df_sellers

In [44]:
basic_information(df_sellers)

 Number of  duplicate value  0


 Missing values
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64


 Column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
----------------------------------------------------

In [45]:
# change datatype
df_sellers['seller_zip_code_prefix']=df_sellers['seller_zip_code_prefix'].astype(object)

In [46]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [47]:
#strip whitespace and lowercase
for i in ['seller_id','seller_city','seller_state']:
    if i in df_sellers.columns:
        x=df_sellers[i].str.strip()
        df_sellers[i]=x.str.lower()
        print("Successful")

Successful
Successful
Successful

In [48]:
# top seller per order

top_seller = ( df_items.groupby('order_id')['seller_id'].agg(lambda x : x.mode().iloc[0] if not x.mode().empty else x.iloc[0]).reset_index(name='top_seller_id'))

In [49]:
top_seller.head()

                           order_id                     top_seller_id
0  00010242fe8c5a6d1ba2dd792cb16214  48436dade18ac8b2bce089ec2a041202
1  00018f77f2f0320c557190d7a144bdd3  dd7ddc04e1b6c2c614352b383efe2d36
2  000229ec398224ef6ca0657da4fc703e  5b51032eddd242adc84c38acab88f23d
3  00024acbcdf0a6daa1e931b038114c75  9d7a1d34a5052409006425275ba1c2b4
4  00042b26cf59d7ce69dfabb4e55b4fd9  df560393f3a51e74553ab94004ba5c87

In [50]:
top_seller.shape

(98666, 2)

In [51]:
# merge all as fact table
fact = df_orders.copy()
fact = fact.merge(order_items_summary,on='order_id',how='left')
fact = fact.merge(df_payments_clean,on='order_id',how='left')
fact = fact.merge(top_seller,on='order_id',how='left')
fact = fact.merge(df_sellers,left_on='top_seller_id',right_on='seller_id',how='left')

In [52]:
fact.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_approved_flag', 'order_shipped_flag', 'order_delivered_flag',
       'item_revenue', 'logistics_cost', 'total_item_value',
       'total_payment_value', 'max_installments', 'payment_types',
       'top_seller_id', 'seller_id', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

In [53]:
fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   order_approved_flag            99441 non-null  bool
 9   order_shipped_flag             99441 non-null  bool
 10  order_delivered_flag           99441 non-null  bool
 11  item_revenue                   98666 non-null  float64
 12  logistics_cost                 98666 non-null  float64
 13  total_item_value               98666 non-null  float64
 14  total_payment_value            99440 non-null  float64
 15  max_installments               99440 non-null  float64
 16  payment_types                  99440 non-null  object
 17  top_seller_id                  98666 non-null  object
 18  seller_id                      98666 non-null  object
 19  seller_zip_code_prefix         98666 non-null  object
 20  seller_city                    98666 non-null  object
 21  seller_state                   98666 non-null  object
dtypes: bool(3), datetime64[ns](5), float64(5), object(9)
memory usage: 14.7+ MB

In [54]:
fact.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
order_approved_flag                 0
order_shipped_flag                  0
order_delivered_flag                0
item_revenue                      775
logistics_cost                    775
total_item_value                  775
total_payment_value                 1
max_installments                    1
payment_types                       1
top_seller_id                     775
seller_id                         775
seller_zip_code_prefix            775
seller_city                       775
seller_state                      775
dtype: int64

In [55]:
# Fill missing value
# numerical 
fact[['item_revenue','logistics_cost','total_item_value','total_payment_value','max_installments']]=fact[['item_revenue','logistics_cost','total_item_value','total_payment_value','max_installments']].fillna(0)
# categorical 
fact['payment_types']=fact['payment_types'].fillna('no_payment')
fact[['top_seller_id','seller_id','seller_zip_code_prefix','seller_city','seller_state']]=fact[['top_seller_id','seller_id','seller_zip_code_prefix','seller_city','seller_state']].fillna('unknown')

In [56]:
#add final kpi
# delivery duration by days
fact['delivery_days'] = (fact['order_delivered_customer_date'] - fact['order_purchase_timestamp']).dt.days

# fulfillment duration by days
fact['fulfillment_days'] = (fact['order_delivered_carrier_date'] - fact['order_purchase_timestamp']).dt.days

# payment gap (+ = overpaid , - = underpaid)
fact['payment_gap'] = fact['total_payment_value'] - fact['total_item_value']

In [57]:
fact[['delivery_days','fulfillment_days','payment_gap']].isnull().sum()

delivery_days       2965
fulfillment_days    1783
payment_gap            0
dtype: int64

In [59]:
fact.to_csv("olist_fact_sales.csv")

In [60]:
fact.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_approved_flag,order_shipped_flag,...,max_installments,payment_types,top_seller_id,seller_id,seller_zip_code_prefix,seller_city,seller_state,delivery_days,fulfillment_days,payment_gap
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,True,True,...,1.0,"credit_card,voucher",3504c0cb71d7fa48d967e0e4c94d59d9,3504c0cb71d7fa48d967e0e4c94d59d9,9350,maua,sp,8.0,2.0,0.000000e+00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,True,True,...,1.0,boleto,289cdb325fb7e7f891c38608bf9e0962,289cdb325fb7e7f891c38608bf9e0962,31570,belo horizonte,sp,13.0,1.0,0.000000e+00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,True,True,...,3.0,credit_card,4869f7a5dfa277a7dca6462dcf3b52b2,4869f7a5dfa277a7dca6462dcf3b52b2,14840,guariba,sp,9.0,0.0,0.000000e+00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,True,True,...,1.0,credit_card,66922902710d126a0e7d26b0e3805106,66922902710d126a0e7d26b0e3805106,31842,belo horizonte,mg,13.0,3.0,0.000000e+00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,True,True,...,1.0,credit_card,2c9e548be18521d1c43cde1c582c6de8,2c9e548be18521d1c43cde1c582c6de8,8752,mogi das cruzes,sp,2.0,0.0,3.552714e-15