In [2]:
# import 
from sqlalchemy import create_engine
import pandas as pd
import getpass
import pymysql

In [3]:
# configuration 
user= 'root'
password = getpass.getpass("MySQL Password: ")
host= 'localhost'
database = 'olist_ecommerce'

MySQL Password:  ········

In [4]:
# connect to mysql
engine= create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')

In [5]:
# load data

df= pd.read_sql("SELECT * FROM customer_profitability",con=engine)

In [13]:
df.head()

,customer_id,order_count,total_revenue,total_logistics_cost,total_profit,profit_margin,profitability_segment
0,00012a2ce6f8dcda20d059ce98491703,1,89.80,24.94,64.86,0.72,Low Margin Customers
1,000161a058600d5901f007fab4c27140,1,54.90,12.51,42.39,0.77,Low Margin Customers
2,0001fd6190edaaf884bcaf3d49edf079,1,179.99,15.43,164.56,0.91,Low Margin Customers
3,0002414f95344307404f0ace7a26f1d5,1,149.90,29.45,120.45,0.80,Low Margin Customers
4,000379cdec625522490c315e70c7a9fb,1,93.00,14.01,78.99,0.85,Low Margin Customers

In [12]:
# Profitability_segment
df["profitability_segment"] = df.apply(
    lambda x :
        "High Profit Customers" if x.total_profit > 500 and x.profit_margin>=0.30 else 
        "Low Margin Customers" if x.total_profit > 0 else "Loss Making Customers", axis=1
    


)

In [14]:
# Export for Tableau 
df.to_csv("Cleaned/customer_profitability.csv",index=False)